{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Первая версия</title>
    <link rel="stylesheet" href="{% static 'elitemservice/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'elitemservice/css/stylesheet.css' %}" type="text/css">
</head>
<body>
<div class="wrapper">
    {% if user.is_authenticated %}
        <p id="user">{{ user.login }}</p>
    {% else %}
         <p id="signIn">Войти/Зарегестрироватся</p>
    {% endif %}
    <img src="{% static 'elitemservice/img/Sloy_1.png' %}" id="logoService" alt="Logos"/>
    <form method="post" id="formSearch">
        {% csrf_token %}
        <label>
            <input type="text" placeholder="Название/тег микросервиса..." id="inputName">
        </label>
        <input type="button" value="Найти микросервис" id="btnSearch">
        <input type="button" value="Добавить микросервис" id="btnAddService">
    </form>
</div>

<div id="extends"></div>
<script src="{% static 'elitemservice/js/jquery.js' %}"></script>
<script>

    $('#btnAddService').click(function () {
        $.ajax({
            type: 'GET',
            url: '{% url 'addService' %}',
            success: function (data) {
                $('.wrapper').animate({'height':'38%'}, 700);
                $('#logoService').
                    attr('src','{% static 'elitemservice/img/LogogServiceWithoutText.svg' %}')
                    .animate({
                        'margin-top':'0.8%',
                        'width':'6%',
                        'margin-left':'48%'
                    });
                $('#inputName').animate({
                    'margin-top': '1%',
                    'height': '7vh',
                });
                let extendfield = $('#extends');
                if (!extendfield.empty()){extendfield.val("")}
                extendfield.append(data);
        }})
    });


    $('#user').click(function () {
        $.ajax({
            url: {% url 'profile'%},
            success: function (data) {
                $('.wrapper').animate({'height':'38%'}, 700);
                $('#logoService').
                    attr('src','{% static 'elitemservice/img/LogogServiceWithoutText.svg' %}')
                    .animate({
                        'margin-top':'0.8%',
                        'width':'6%',
                        'margin-left':'48%'
                    });
                $('#inputName').animate({
                    'margin-top': '1%',
                    'height': '7vh',
                });
                let extendfield = $('#extends');
                if (!extendfield.empty()){extendfield.val("")}
                extendfield.append(data);
            }
        })
    });

    $('#signIn').click(function () {
        let name_micros = $('#extends');
        if (!name_micros.empty()){name_micros.val("")}
        $.ajax({
            url: {% url 'login' %},
            success: function (data) {
                $('.wrapper').animate({'height':'38%'}, 700);
                $('#logoService').
                    attr('src','{% static 'elitemservice/img/LogogServiceWithoutText.svg' %}')
                    .animate({
                        'margin-top':'0.8%',
                        'width':'6%',
                        'margin-left':'48%'
                    });
                $('#inputName').animate({
                    'margin-top': '1%',
                    'height': '7vh',
                });

                name_micros.append(data)
            }
        });
    });

    $('#formSearch').on("submit", function (event) {
        event.preventDefault();
    });


    $("#inputName").keypress(function (event) {
        if (event.keyCode === 13){
            let name_serv = $("#inputName").val();
            let name_micros = $('#extends');
            $.ajax({
                url: "{% url 'apiServices' %}",
                dataType: "json",
                success: function (data) {
                    $('.wrapper').animate({'height':'38%'}, 700);
                    $('#logoService').
                        attr('src','{% static 'elitemservice/img/LogogServiceWithoutText.svg' %}')
                        .animate({
                            'margin-top':'0.8%',
                            'width':'6%',
                            'margin-left':'48%'
                        });
                    $('#inputName').animate({
                        'margin-top': '1%',
                        'height': '7vh',
                    });
                    name_micros.empty();
                    let list_service = data["Services"];
                    for (let i=0; i<list_service.length; i++){
                        if (name_serv === ""){
                            name_micros.append(
                                '<ul id="name_micros"> <li>' +
                                        '<span> </span>' +
                                        '<ul id="formLoad">' +
                                            '<li>'+
                                                '<input type="button" value="Загрузить" class="' + list_service[i].id +'" id="loadService">'+
                                            '</li>' +
                                        '<li>' +
                                            '<p> Подробнее... </p>' +
                                        '</li>' +
                                    '</ul>' +
                                    '<ul> ' +
                                        '<li> ' +
                                            '<p>' + list_service[i].name_service + '</p>' +
                                        '</li>' +
                                        '<li> ' +
                                            '<p>' + list_service[i].about_service + '</p>' +
                                        '</li>' +
                                    '</ul>' +
                                '</li> </ul>'
                            );
                        }
                        else if (name_serv === data["Services"][i].name_service){
                            name_micros.append(
                                '<ul id="name_micros"> <li>' +
                                '<span> </span>' +
                                '<ul id="formLoad">' +
                                    '<li> ' +
                                        '<input type="button" value="Загрузить" class="' + list_service[i].id +'" id="loadService">'+
                                    '</li>' +
                                    '<li>' +
                                        '<p> Подробнее... </p>' +
                                    '</li>' +
                                '</ul>' +
                                '<ul> ' +
                                    '<li> ' +
                                        '<p>' + list_service[i].name_service + '</p>' +
                                    '</li>' +
                                    '<li> ' +
                                        '<p>' + list_service[i].about_service + '</p>' +
                                    '</li>' +
                                '</ul>' +
                            '</li> </ul>'
                            );
                        }
                    }
                    if (name_micros.find('li').length === 0){
                        name_micros.append('<h1 id="exitst"> Этого микросервиса несуществует!!! </h1>')
                    }

                    $("#inputName").val("");
                }
            })
        }
    });


    $('#btnSearch').click(function () {
        let name_serv = $("#inputName").val();
        let name_micros = $('#extends');
        $.ajax({
            url: "{% url 'apiServices' %}",
            dataType: "json",
            success: function (data) {
                $('.wrapper').animate({'height':'38%'}, 700);
                $('#logoService').
                    attr('src','{% static 'elitemservice/img/LogogServiceWithoutText.svg' %}')
                    .animate({
                        'margin-top':'0.8%',
                        'width':'6%',
                        'margin-left':'48%'
                    });
                $('#inputName').animate({
                    'margin-top': '1%',
                    'height': '7vh',
                });
                name_micros.empty();
                let list_service = data["Services"];
                for (let i=0; i<list_service.length; i++){
                    if (name_serv === ""){
                        name_micros.append(
                            '<ul id="name_micros"> <li>' +
                                '<span> </span>' +
                                '<ul id="formLoad">' +
                                    '<li> ' +
                                        '<input type="button" value="Загрузить" class="' + list_service[i].id +'" id="loadService">'+
                                    '</li>' +
                                    '<li>' +
                                        '<p> Подробнее... </p>' +
                                    '</li>' +
                                '</ul>' +
                                '<ul> ' +
                                    '<li> ' +
                                        '<p>' + list_service[i].name_service + '</p>' +
                                    '</li>' +
                                    '<li> ' +
                                        '<p>' + list_service[i].about_service + '</p>' +
                                    '</li>' +
                                '</ul>' +
                            '</li> </ul>'
                        );
                    }
                    if (name_serv === data["Services"][i].name_service){
                        name_micros.append(
                            '<ul id="name_micros"> <li>' +
                                '<span> </span>' +
                                '<ul id="formLoad">' +
                                    '<li> ' +
                                        '<input type="button" value="Загрузить" class="' + list_service[i].id +'" id="loadService">'+
                                    '</li>' +
                                    '<li>' +
                                        '<p> Подробнее... </p>' +
                                    '</li>' +
                                '</ul>' +
                                '<ul> ' +
                                    '<li> ' +
                                        '<p>' + list_service[i].name_service + '</p>' +
                                    '</li>' +
                                    '<li> ' +
                                        '<p>' + list_service[i].about_service + '</p>' +
                                    '</li>' +
                                '</ul>' +
                            '</li> </ul>'
                        );
                    }
                }

                if (name_micros.find('li').length === 0){
                        name_micros.append('<h1 id="exitst"> Этого микросервиса несуществует!!! </h1>')
                    }
                $("#inputName").val("")
            }
        });
    });


    $(function() {
        $(document).on('click touchstart', '#loadService', function(){
            let id_li = $(this).attr('class');
            $.ajax({
                type: "POST",
                url: "{% url 'apiServices' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'current_id': id_li,
                },
                dataType: "json"
            })
        });

        $(document).on('click touchstart', '#loginBtn', function(){
            $.ajax({
                type:"POST",
                url: "{% url 'login' %}",
                data: {
                    'email':$('#id_email').val(),
                    'password':$('#id_password').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function () {
                    window.location = '/service/'
                }
            })
        });


        $(document).on('click touchstart', '#regBtn', function(){
            $.ajax({
                type:"GET",
                url: "{% url 'register' %}",
                success: function (data) {
                    let extendfield = $('#extends');
                    if (!extendfield.empty()){extendfield.val("")}
                    extendfield.append(data);
                    $('#extends #login input').css('left', '1%');
                    $('#regBtn').attr('id','regUser');
                }
            })
        });

        $(document).on('click touchstart', '#isRegValid', function(){
            window.location = '/'
        });

        $(document).on('click touchstart', '#regUser', function(){

            $.ajax({
                type:"POST",
                url: "{% url 'register' %}",
                data: {
                    'login': $('#id_login').val(),
                    'email': $('#id_email').val(),
                    'password1': $('#id_password1').val(),
                    'password2': $('#id_password2').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    let extendfield = $('#extends');
                    if (!extendfield.empty()){extendfield.val("")}
                    extendfield.append(data);
                    $('#extends #login input').css('left', '1%');
                }
            })
        });

        $(document).on('click touchstart', '#logout', function(){
            $.ajax({
                url: "{% url 'logout' %}",
                success: function () {
                    window.location = '/service/'
                }
            })
        });

        $(document).on('click touchstart', '.btnDelete', function () {
            let id_li = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "{% url 'deleteService' %}",
                data: {
                    'current_id': id_li,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function () {
                   window.location = '/'
                }
            })
        });

    })

</script>
</body>
</html>