@import "stylesheet.css";

*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #6675d6;
}

#logoService{
    width: 9%;
    margin-top: 7%;
    margin-left: 47%;
}

#signIn{
    float: right;
    color: #FFFFFF;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 1%;
    margin-right: 1%;
    cursor: pointer;
}

#inputName{
    margin-top: 2%;
    border-radius: 47px;
    width: 75%;
    height: 9vh;
    margin-left: 14%;
    border: none;
    font-family: "Consolas Bold", sans-serif;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    font-size: 1.5em;
    color: #787878;
}

#inputName::placeholder{
    color: #787878;
}

input[type='button']{
    position: relative;
    margin-top: 1%;
    border-radius: 47px;
    width: 15%;
    height: 7vh;
    border: none;
    font-family: "Consolas Bold", sans-serif;
    font-weight: bold;
    color: #787878
}
#btnSearch{
    float: left;
    margin-left: 28%;
}

#btnAddService {
	float: right;
    right: 30%;
	margin-right: -7%;
    width: 17%;
}

input[type='button']:hover{
    background-color: #8E9BEB;
    cursor: pointer;
    color: #FFF;
}

input[type='button']:active{
    background-color: #FFFFFF;
    color: #787878
}

#name_micros li{
    list-style: none;
    display: block;
    background-color: #f3f3f3;
}

#name_micros li{
    margin: 3%;
}

#name_micros li ul:not(#formLoad){
    display: block;
    padding: 7%;
}

#formLoad{
    float: right;
    position: absolute;
    padding-top: 1%;
    padding-left: 81.5%;
}

#formLoad li:nth-child(1){
    padding-bottom: 40%;
}

#loadService{
    width: 200%;
    height: 7vh;
    background-color: #6675d6;
    color: #fff;
    right: 24%;
}

#loadService:hover{
    background-color: #8E9BEB;
    cursor: pointer;
}

#loadService:active{
    background-color: #6675d6;
}

#formLoad p{
    cursor: pointer;
    opacity: 0.8;
}

#name_micros li ul li{
    padding-top: 5%;
    padding-left: 11%;
    float: left;
    margin-top: -5%;
}

#name_micros li ul li:nth-child(1){
    margin-left: -7%;
}

#name_micros li ul li:nth-child(2){
    margin-left: 7%;
}

#name_micros li span {
	border-left: 2px solid black;
	height: 20%;
	position: absolute;
	margin-top: 2%;
	opacity: 0.2;
    margin-left: 30%;
}

#name_micros li p{
    font-family: "Consolas Bold", sans-serif;
    font-weight: bold;
    color: #787878;
}

#exitst{
    font-family: "Consolas Bold", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    color: #787878;
    opacity: 0.5;
    padding-top: 13%;
    padding-left: 40%;
}

#extends #login{
    padding-left: 41%;
    padding-top: 7%;
    position: relative;
}

#extends #login input{
    padding-left: 1%;
    margin-bottom: 3%;
    width: 25%;
    left: -14%;
}

#extends #login input[type='button']{
    background-color: #6675d6;
    color: #fff;
    cursor: pointer;
}

#extends #login input[type='button']:hover{
    background-color: #8E9BEB;
}

#extends #login input[type='button']:active{
    background-color: #6675d6;
}

#extends #login label{
    margin-right: 5%;
}

#user{
    float: right;
    color: #FFFFFF;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 1%;
    margin-right: 1%;
    cursor: pointer;
}

#head_info{
    height: 7vh;
    background-color: #f5f5f5;
    text-align: center;
    padding-left: 7%;
    padding-top: 1.5%;
    color: #b1afaf;
    font-family: "Consolas Bold", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    cursor: default;
}

.nav-list{
    display: block;
    width: 17%;
    height: 62vh;
    background-color: #f5f5f5;
}

.nav-list ul{
    text-align: center;
    list-style: none;
    padding-top: 30%;
    color: #787878;
    font-family: "Consolas Bold", sans-serif;
    font-weight: bold;
    font-size: 0.85em;
    width: 85%;
    padding-left: 6%;
}

.nav-list ul li:nth-child(1){
    padding-bottom: 8%;
    cursor: default;
}

.nav-list ul li:nth-child(2){
    padding-bottom: 1%;
}

.nav-list ul li #active_services{
    padding-bottom: 3%;
    color: #b1afaf;
    cursor: pointer;
}

.nav-list ul li #active_services:hover{
    color: #787878;
}

.nav-list ul li #active_services:active{
    color: #b1afaf;
}

.nav-list ul li #setting_profile {
    padding-bottom: 3%;
    color: #b1afaf;
    cursor: pointer;
}

.nav-list ul li #setting_profile:hover{
    color: #787878;
}

.nav-list ul li #setting_profile:active{
    color: #b1afaf;
}

.nav-list ul li #logout{
    padding-bottom: 4%;
    color: #b1afaf;
    cursor: pointer;
}

.nav-list ul li #logout:hover{
    color: #787878;
}

.nav-list ul li #logout:active{
    color: #b1afaf;
}

.saveService{
    padding-top: 2%;
    padding-bottom: 1%;
}

.saveService #formLoad{
    padding: 0;
    margin: 0;
}

.saveService input[type='button']{
    background-color: #e65555;
    color: #fff;
    cursor: pointer;
    width: 150%;
    margin-top: -9%;
    margin-left: 580%;
}

.saveService input[type='button']:hover{
    background-color: #8E9BEB;
}

.saveService input[type='button']:active{
    background-color: #6675d6;
}

.saveService #line{
    margin-left: 20%;
    margin-top: 1%;
}

.saved_service{
    padding-left: 20%;
    margin-top: -28%;
}