<p id="head_info">Активные микросервисы</p>
<div class="nav-list">
    <ul>
        <li>{{ user.login }}</li>
        <li><hr style="opacity: .3"></li>
        <li><p id="active_services">Активные микросервисы</p></li>
        <li><p id="setting_profile">Настройки аккаунта</p></li>
        <li><p id="logout">Выйти</p></li>
    </ul>
</div>
<div class="saved_service">
    <ul id="name_micros">
        {% for foo in user.loads_services.all %}
            <li class="saveService" id="{{ foo.pk }}">
                <span></span>
                <ul id="formLoad">
                    <input type="button" value="Удалить сервис" class="btnDelete" id="{{ foo.pk }}">
                </ul>
                <ul>
                    <li>
                        <p>{{ foo.name_service }}</p>
                    </li>
                     <li>
                         <p>{{ foo.about_service }}</p>
                     </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>