{% load bootstrap4 %}
<form method="post" id="login">
    {% csrf_token %}
    {% for field in form %}
        {% bootstrap_field field layout='horizontal' %}
    {% endfor %}
    {% if act == 'login' %}
        <label>
            <input type="button" value="Войти" id="loginBtn">
        </label>
        <label>
            <input type="button" value="Зарегестрироватся" id="regBtn">
        </label>
    {% else %}
        <label>
            <input type="button" value="Зарегестрироватся" id="regBtn">
        </label>
    {% endif %}
</form>